@import "tailwindcss";

@theme {
  --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-cafe-dark: #4B2E2B;
  --color-cafe-light: #C69C6D;
  --color-cafe-white: #F3EDE6;
  --color-cafe-green: #92E3A9;
  --color-cafe-brown: #4b3c2b;
  --radius-xl-hero: 80px;
  --radius-card: 20px;
}
